<div class="consultapuntos">
	<header>
		<div class="subrayado"><div class="card"></div>Bienvenido</div>
		<div class="nombre">{{name}}</div>
	</header>



	<div id="nameholder" style="width:600px; margin: 0 auto;padding-top:11em;">
	  <h1 id="pinpage_bienvenido">Puntos en su cuenta</h1>
	  <input class="pinpage_input grad" value="{{puntos}}"/>
	</div>

	



	<footer>
	  <img src="img/logo.png" style="max-width: 9%;margin-top: -70px;margin-left: 10px; float:left;"/>
	  <div style="float: right;font-size: 1em;font-weight: normal;color: white;font-family: arial;font-style: italic;margin-top: 15px;margin-right: 15px;">Juegue con <strong>ventaja.</strong></div>

		<div class="back_button">
			<button class="actionbutton ng-binding" ng-click="changeView('menu')" style="">
				<div class="bullet"></div>
				<div class="label">Volver</div>
			</button>
		</div>
		
	</footer>
</div>