<div class="lector">
	<h1 id="lector_bienvenido">BIENVENIDO</h1> 
	<div id="lector_logocontainer"><img src="img/logo-palermo.png" style="max-width: 100%;"/></div>
	<h1 id="lector_brand">HIPÓDROMO ARGENTINO DE PALERMO</h1> 
	<div id="lector_logocontainer"><img src="img/tarjetas.png" style="max-width: 100%;" ng-click="forzarIngreso()"/></div>
	<h1 id="lector_mensajesocio">¿Usted es socio <strong>FUN</strong>? Pase su credencial por el lector.</h1> 
	<input id="numerosocio" value="12345665016179480513" style="display:none;">
	<div id="lector_buttoncontainer">
		<button class="nosocios_btn" ng-click="ingresoNoSocio()">¿Aún no es socio? Operar desde aquí</button>
	</div>
</div>