<div class="nosocios">

<div style="clear:both;"></div>


<div id="menubuttonscontainer">
	<div class="button_menu" ng-repeat="boton in botones">
		<button class="actionbutton" ng-click="changeView(boton.url)">{{boton.label}}</button>
	</div>
	<div style="clear:both;"></div>
</div>


<footer>
  <img src="img/logo.png" style="max-width: 9%;margin-top: -70px;margin-left: 10px; float:left;"/>
  <div style="float: right;font-size: 1em;font-weight: normal;color: white;font-family: arial;font-style: italic;margin-top: 15px;margin-right: 15px;">Aún no es <strong>socio</strong>? Inscríbase gratis en los stands de atención al cliente.</div>
</footer>

</div>