<div class="nromaquina">

<div style="clear:both;"></div>

<h1 style="
    margin-top: 20px;
color: white;
margin-left: 330px;
font-size: 58px;
">Maquina Seteada a {{maquinaid}}</h1>
<h1 style="
    margin-top: 20px;
color: white;
margin-left: 330px;
font-size: 58px;
">Casino Seteado a {{casinoid}}</h1>

<h1 style="
    margin-top: 20px;
color: white;
margin-left: 330px;
font-size: 58px;
">Sala Seteada a {{salaid}}</h1>



<div class="back_button">
			<button class="actionbutton ng-binding" ng-click="changeView('menu')" style="">
				<div class="bullet"></div>
				<div class="label">Volver</div>
			</button>
		</div>



<footer>
  <img src="img/logo.png" style="max-width: 9%;margin-top: -70px;margin-left: 10px; float:left;"/>
  <div style="float: right;font-size: 1em;font-weight: normal;color: white;font-family: arial;font-style: italic;margin-top: 15px;margin-right: 15px;">Juegue con <strong>ventaja.</strong></div>
</footer>

</div>