<div class="puntosvisita">

	<header>
		<div class="subrayado"><div class="card"></div>Bienvenido</div>
		<div class="nombre">{{name}}</div>
	</header>

	<div id="nameholder" style="width:600px; margin: 0 auto;padding-top: 23em;">
	  <h1 id="pinpage_bienvenido">Puntos obtenidos por visita</h1>
	  <input class="pinpage_input grad" value="{{SlotPoints}}"/>
	</div>
	




		<div class="back_button" style="top: 23em;">
			<button class="actionbutton ng-binding" ng-click="acreditarPuntos()" style="width: 13em;">
				<div class="bullet"></div>
				<div class="label" style="width: 9em;">Acreditar Puntos</div>
			</button>
		</div>

	<div class="back_button" style="top: 23em;">
			<button class="actionbutton ng-binding" ng-click="changeView('menu')">
				<div class="bullet"></div>
				<div class="label">Volver</div>
			</button>
		</div>




	<footer>
	  <img src="img/logo.png" style="max-width: 9%;margin-top: -70px;margin-left: 10px; float:left;"/>
	  <div style="float: right;font-size: 1em;font-weight: normal;color: white;font-family: arial;font-style: italic;margin-top: 15px;margin-right: 15px;">Juegue con <strong>ventaja.</strong></div>
	</footer>

</div>