<div class="reserva">
	<header>
		<div class="subrayado"><div class="card"></div>Bienvenido</div>
		<div class="nombre">{{name}}</div>
	</header>

<iframe src="http://ifvs.palermoslots.com.ar:50013/Eve_ShowsDiponibles.aspx?canal=2&casino=1" name="frame1" scrolling="auto" frameborder="no" align="center" height = "650px" width = "100%">
</iframe>

<div class="back_button" style="top: 0em;">
			<button class="actionbutton ng-binding" ng-click="changeView('menu')" style="">
				<div class="bullet"></div>
				<div class="label">Volver</div>
			</button>
		</div>

	<footer>
	  <img src="img/logo.png" style="max-width: 9%;margin-top: -70px;margin-left: 10px; float:left;"/>
	  <div style="float: right;font-size: 1em;font-weight: normal;color: white;font-family: arial;font-style: italic;margin-top: 15px;margin-right: 15px;" ng-bind-html="mensajefun"></div>
	</footer>
</div>